@import './mixin'
@import './theme'
@import './popup'

body, html,h1,h2,h3,h4,h5,ul,li,p
	margin: 0;
	padding: 0;

*
	vertical-align: top

ul , li
	list-style: none

#app_canvas
	> *:not(.active)
		display: none

body
	height: 100%
	width: 100%
	overflow: hidden

	.header
		position: relative
		background-color: #333
		padding: 5px

		h1
			font-size: 18px
			display: inline-block
			color: #fff

		.user_box
			display: inline-block
			color: #fff
			margin-top: 2px

		.login_box
			position: absolute
			top: 10px 
			right: 10px

			span
				background-color: #fff
				border: 1px solid #efefef
				padding: 8px
				cursor: pointer
				&:hover
					background-color: #f8f8f8
				

	.info
		margin: 8px 15px
		border: 1px dashed red
		padding: 8px 15px
		color: red
		
		p
			font-size: 19px
		span
			font-size: 13px

.pages

	.panel_wrapper
		display: block
		float: left
		background-color: rgba(255,255,255,0.2)
		padding-right: 15px
		&:hover
			.panel
				background-color: #333
				
		.panel
			background-color: #9f9f9f
			width: 100%
			width: 32px
			border-right: 1px dashed #e9e9e9

			.nav_button
				color: #fff
				padding: 3px 6px
				margin: 6px 5px 0px 5px
				display: inline-block
				border: 1px dashed #fff
				cursor: pointer
				&:hover
					background-color: blue
		


	.slides_canvas
		display: block
		overflow: auto
		position: relative

		.viewport
			position: absolute
			top: 7px
			width: 3000px

			>.item
				display: inline-block
				overflow: hidden
				margin-right: 25px
				&:last-child
					margin-right: 0px

				.social
					height: 100%
					display: inline-block
					opacity: 0.8
					width: 40px
					overflow: hidden
					&:hover
						opacity: 1
						img
							opacity: 0.5
					
					.item
						margin: 5px 0px
						display: block
						width: 32px
						&.owner
							border-bottom: 1px solid #e9e9e9

						img
							width: 32px
							height: 32px
							border: none
							&:hover
								opacity: 1
						
						span
							font-size: 10px
							text-align: center
							display: block
					
						.points
							font-size: 32px
							display: block
							margin-top: 10px

				.menu
					height: 100%
					display: inline-block
					width: 150px

					.box_wrapper
						height: 99%
						margin: 0px 0px 0px 4px
						border: 1px solid #e9e9e9
						padding: 0px 4px

						h3
							padding: 5px
						
						
						.options
							border-bottom: 1px solid #e9e9e9
							padding-bottom: 6px
							position: relative
							height: 25px
							overflow: hidden
							.wrapper
								position: absolute
								opacity: 0.5
								&:hover 
									opacity: 1
									top: -27px
								span
									border: 1px dashed #e9e9e9
									padding: 3px 4px
									margin: 0px 6px 0px 5px
									font-size: 12px
									cursor: pointer
									display: inline-block
									color: blue
									&:hover
										background-color: #efefef
										text-decoration: underline

						.stats
							border-bottom: 1px solid #e9e9e9
							opacity: 0.4
							margin-top: 4px
							height: 46px
							overflow: hidden
							&.open,&:hover
								opacity: 1
								height: 100px
								
							.item
								cursor: pointer
								margin: 5px 5px
								display: inline-block
								width: 32px
								&:first-child
									margin-left: 3px
								&:hover
									color: red

								span
									font-size: 10px
									text-align: center
									display: block

								.points
									font-size: 26px
									display: block
									text-align: center
									
						

						>.item
							display: block
							cursor: pointer
							position: relative
							font-size: 12px
							line-height: 12px
							letter-spacing: 0.2em

							&:first-child
								margin-top: 5px
							.link
								display: inline-block
								padding: 5px 5px
								width: 95%
							.del
								position: absolute
								right: 8px
								top: 1px
								display: none
								font-size: 33px
								background-color: rgba(255,255,255,0.5)
								margin-top: 1px
								margin-left: 5px
								padding: 3px
								font-size: 18px
								&:hover
									color: red
							&:hover
								background-color: #e9e9e9
							&.owner:hover
								.del
									display: inline-block
							

						input
							margin: 0px 5px
							padding: 3px
							width: 85%
							border: none
							outline:none
							border: #e9e9e9 1px solid
							
							&:hover
								border: blue 1px solid
								color: #333

				.content
					display: inline-block
					overflow: auto
					height: 100%

					h1
						font-size: 22px
					
					p
						font-size: 17px
						line-height: 23px
						letter-spacing: 0.1em
						
					input
						font-size: 22px

					.box_wrapper
						border: 1px solid #e9e9e9
						height: 99%
						padding: 0px 8px

						.editable
							margin-top: 4px
							padding: 5px
							
							input
								width: 90%
								padding: 7px

							textarea
								width: 100%
								padding: 5px
								height: 90px
							
							&:hover
								background-color: #e9e9e9
								
							input,textarea
								display: none

							&.editing
								:first-child
									display: none
								input,textarea
									display: block

						.prompt
							display: block
							margin-top: 5px
							border: 1px solid #f9f9f9
							height: 35px 
							overflow: hidden

							span
								display: inline-block
								padding: 2px 6px
								border: 2px solid #393939
								margin: 3px
								cursor: pointer
								&:hover
									background-color: #e9e9e9

							p
								display: inline-block
								width: 80%
								line-height: 33px
								font-size: 12px
								margin-left: 7px

