body{font-family:Helvetica,Arial,"MS Trebuchet",sans-serif;font-size:16px;color:#363636;-webkit-user-select:none;line-height:1.2em}
h1,h2{font-weight:bold;text-shadow:0 1px 1px #fff}
h1{font-size:21pt;color:#404040}
h2{font-size:24pt;color:#404040;margin:1em 0 .7em 0}
h3,label{font-size:18px;color:#404040;text-shadow:0 1px 1px #fff}
h4{font-size:14pt;color:#7e7f7e;text-shadow:0 1px 1px #fff}
a{color:#363636;cursor:pointer;text-decoration:underline}
pre{margin:0;font-family:Helvetica,Arial,"MS Trebuchet",sans-serif}
header,footer{display:block}
button{border:1px solid #bbb;font-weight:bold;text-shadow:0 1px 1px #fff;font-family:Helvetica,Arial,"MS Trebuchet",sans-serif;font-size:14px;color:#363636;padding:6px 10px;margin:1px 1px 1px 0;outline:none;background:#f9f9f9;background:#f9f9f9;background:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#e3e3e3));background:-moz-linear-gradient(top,#f9f9f9,#e3e3e3);background:linear-gradient(top,#f9f9f9,#e3e3e3);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-shadow:0 1px 1px #fff;-webkit-box-shadow:0 1px 1px #fff;box-shadow:0 1px 1px #fff;}
button.small{padding:3px 5px}
button:active{background:#e3e3e3;background:-webkit-gradient(linear,left top,left bottom,from(#e3e3e3),to(#f9f9f9));background:-moz-linear-gradient(top,#e3e3e3,#f9f9f9);background:linear-gradient(top,#e3e3e3,#f9f9f9)}
button.default{color:#fff;border:1px solid #3f68a5;text-shadow:0 -1px 1px #46677f;background:#7bb5db;background:-webkit-gradient(linear,left top,left bottom,from(#7bb5db),to(#4775b8));background:-moz-linear-gradient(top,#7bb5db,#4775b8);background:linear-gradient(top,#7bb5db,#4775b8)}
button.default:active{background:#4775b8;background:-webkit-gradient(linear,left top,left bottom,from(#4775b8),to(#7bb5db));background:-moz-linear-gradient(top,#4775b8,#7bb5db);background:linear-gradient(top,#4775b8,#7bb5db)}
label{display:block;margin:0 0 20px 0;overflow:visible}
label span{display:block;margin-bottom:6px;margin-left:-3px;font-weight:bold;font-size:13px}
label input{font-size:14px;display:block}
label input[type="checkbox"]{width:15px !important;margin-right:7px;display:inline-block}
label input[type="checkbox"] + span{display:inline}
label input[type="text"],label input[type="email"],input[type="password"],input[type="mobile"]{width:220px;margin:0 2px 0 0;padding:4px 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
textarea{width:220px;margin:0 2px 0 0;padding:4px 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
textarea,input[type="text"],input[type="email"],input[type="password"]{border:1px solid #9e9fa2;color:#363636;text-shadow:0 1px 1px #fff;font-size:17px;outline:none;padding:10px;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;background:#e6e6e7;background:-webkit-gradient(linear,left top,left bottom,from(#e6e6e7),to(#fafafa));background:-moz-linear-gradient(top,#e6e6e7,#fafafa);background:linear-gradient(top,#e6e6e7,#fafafa);background:-webkit-gradient(linear,left top,left bottom,from(#e6e6e7),color-stop(.3,#fafafa),to(#fafafa))}
textarea{-moz-border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;height:70px}
.vdivide{width:6px;border:1px solid #c5c5c5;border-width:0 1px 0 1px;border-right-color:rgba(0,0,0,0.30);background:#f9f9f9;background:#f9f9f9;background:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#dfe0e1));background:-moz-linear-gradient(top,#f9f9f9,#dfe0e1);background:linear-gradient(top,#f9f9f9,#dfe0e1)}
body,html,h1,h2,h3,h4,h5,ul,li,p{margin:0;padding:0}
*{vertical-align:top}
ul,li{list-style:none}
body{height:100%;width:100%;overflow:hidden}
.pages{margin-top:40px;}
.pages .social{float:left;width:230px;height:100%}
.pages .slides_canvas{display:block;overflow:auto;position:relative;margin-left:15px;}
.pages .slides_canvas .viewport{position:absolute;width:3000px;}
.pages .slides_canvas .viewport .item{display:inline-block;overflow:hidden;}
.pages .slides_canvas .viewport .item .menu{height:100%;display:inline-block;width:256px;}
.pages .slides_canvas .viewport .item .menu .box_wrapper{height:99%;margin:0 50px 0 6px;border:1px solid #e9e9e9;padding:0 5px;}
.pages .slides_canvas .viewport .item .menu .box_wrapper h3{padding:5px}
.pages .slides_canvas .viewport .item .menu .box_wrapper span{cursor:pointer;display:block;padding:5px 5px;}
.pages .slides_canvas .viewport .item .menu .box_wrapper span:first-child{margin-top:5px}
.pages .slides_canvas .viewport .item .menu .box_wrapper span:hover{background-color:#00f}
.pages .slides_canvas .viewport .item .menu .box_wrapper input{margin:5px;padding:6px;width:85%}
.pages .slides_canvas .viewport .item .content{display:inline-block;overflow:auto;height:100%;}
.pages .slides_canvas .viewport .item .content h1{font-size:22px}
.pages .slides_canvas .viewport .item .content p{font-size:17px;line-height:23px;letter-spacing:.1em}
.pages .slides_canvas .viewport .item .content input{font-size:22px}
.pages .slides_canvas .viewport .item .content .box_wrapper{border:1px solid #e9e9e9;height:99%;padding:0 8px;}
.pages .slides_canvas .viewport .item .content .box_wrapper .editable{margin-top:4px;padding:5px;}
.pages .slides_canvas .viewport .item .content .box_wrapper .editable input{width:90%;padding:7px}
.pages .slides_canvas .viewport .item .content .box_wrapper .editable textarea{width:100%;padding:5px;height:200px}
.pages .slides_canvas .viewport .item .content .box_wrapper .editable:hover{background-color:#e9e9e9}
.pages .slides_canvas .viewport .item .content .box_wrapper .editable input,.pages .slides_canvas .viewport .item .content .box_wrapper .editable textarea{display:none}
.pages .slides_canvas .viewport .item .content .box_wrapper .editable.editing :first-child{display:none}
.pages .slides_canvas .viewport .item .content .box_wrapper .editable.editing input,.pages .slides_canvas .viewport .item .content .box_wrapper .editable.editing textarea{display:block}
.pages .slides_canvas .viewport .item .content .box_wrapper img{height:900px;width:600px;background-color:#e9e9e9;margin:50px}
